<html ng-app="infoApp">
    <head>
        <title ng-bind="ngMeta.title">MCGameInfo</title>
        <!--<update-title title="{{ meta.title }}"></update-title>-->

        <link rel="icon" type="image/png" href="{{ ngMeta.image || 'https://mcgame.info/favicon.png' }}"/>
        <!--<update-link rel="icon" type="image/png" href="{{ meta.image || 'https://mcgame.info/favicon.png' }}"></update-link>-->

        <!-- SEO -->
        <meta name="keywords" content="mcgameinfo,mcgame,minecraft,game,server,info,mc,friends,servers">
        <meta name="description" content="Let your Friends know what you're playing and share your Minecraft game/server with Friends">
        <!--<update-meta name="description" content="{{head.pageDescription}}"></update-meta>-->
        <meta name="author" content="inventivetalent">

        <meta property="og:type" content="website">
        <meta property="og:title" content="MC GameInfo">
        <!--<update-meta property="og:title" content="{{ meta.title || 'MCGameInfo'}}"></update-meta>-->
        <meta property="og:image" content="{{ ngMeta.image || 'https://mcgame.info/favicon.png' }}">
        <!--<update-meta property="og:image" content="{{ meta.image || 'https://mcgame.info/favicon.png' }}"></update-meta>-->
        <meta property="og:description" content="Let your Friends know what you're playing and share your Minecraft game/server with Friends">
        <!--<update-meta property="og:description" content="{{head.pageDescription}}"></update-meta>-->

        <meta property="twitter:title" content="MC GameInfo">
        <!--<update-meta property="twitter:title" content="{{ meta.title || 'MCGameInfo'}}"></update-meta>-->
        <meta property="twitter:image" content="{{ ngMeta.image || 'https://mcgame.info/favicon.png' }}">
        <!--<update-meta property="twitter:image" content="{{ meta.image || 'https://mcgame.info/favicon.png' }}"></update-meta>-->
        <meta property="twitter:description" content="Let your Friends know what you're playing and share your Minecraft game/server with Friends">
        <!--<update-meta property="twitter:description" content="{{head.pageDescription}}"></update-meta>-->
        <meta property="twitter:site" content="@MCGameInfo">
        <meta property="twitter:creator" content="@Inventivtalent">
        <meta property="twitter:card" content="summary">


        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" integrity="sha256-mkKV3FUh67dtli09bVbaYyM1526XgR92cz1uKarE1jo=" crossorigin="anonymous"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <base href="/">

        <style>
            /*.brand-logo {*/
            /*display: inline-block;*/
            /*height: 100%;*/
            /*}*/

            /*.brand-logo > img {*/
            /*vertical-align: middle;*/
            /*max-height: 64px !important;*/
            /*padding: 4px 0 !important;*/
            /*}*/

            .text-muted {
                opacity: 0.5;
            }

            .material-icons {
                display: inline-flex;
                vertical-align: middle;
            }

            .material-icons.md-18 {
                font-size: 18px;
            }

            .material-icons.md-24 {
                font-size: 24px;
            }

            .material-icons.md-36 {
                font-size: 36px;
            }

            .material-icons.md-48 {
                font-size: 48px;
            }

            a[ng-click] {
                cursor: pointer;
            }

            /* Sticky Footer */
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2604356629473365",
                enable_page_level_ads: true
            });
        </script>
    </head>
    <body ng-cloak ng-controller="parentController">
        <header>
            <nav ng-class="theme.color" class="darken-3 nav-extended">
                <div class="nav-wrapper row">
                    <div class="col ds12">
                        <a href="/" class="brand-logo center">
                            MC GameInfo
                        </a>
                        <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
                        <!--<li><a href="/account">Account</a></li>-->
                        <!--</ul>-->

                        <ul id="slide-out" class="side-nav">
                            <li>
                                <div class="user-view">
                                    <div class="background">
                                        <img src="https://i.imgur.com/xJVAZ8n.jpg" style="position: relative;top: -138px;left: -230px;">
                                    </div>
                                    <a href="/account"><img class="responsive-img" src="https://crafatar.com/avatars/steve?size=64" ng-src="{{ 'https://crafatar.com/avatars/'+(account.uuid||'steve')+'?size=64' }}" style="width:64px;height:64px; border-radius: 10px;"></a>
                                    <span class="white-text name">{{ account.username || 'Steve' }}</span>
                                    <span class="white-text email">mail@mcgame.info</span>
                                </div>
                            </li>
                            <li><a class="subheader">Navigation</a></li>
                            <li><a class="waves-effect" href="/account" ng-disabled="!account.uuid"><i class="material-icons">person</i> Account</a></li>
                            <li><a class="waves-effect" href="/servers"><i class="material-icons">list</i> Server List</a></li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li><a href="#" ng-href="{{ account.uuid ? '/logout?go=index' : '/login' }}">{{ account.uuid ? "Log Out" : "Log In" }}</a></li>
                        </ul>
                        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                    </div>
                </div>
                <div class="nav-content" ng-show="navbar.tabs.length>0">
                    <ul class="tabs tabs-transparent tabs-fixed-width" style="overflow-x: hidden;">
                        <li class="tab" ng-repeat="tab in navbar.tabs" ng-class="{'disabled':tab.disabled}"><a href="{{ tab.href }}" ng-class="{'active':tab.active || locationHash == tab.href}">{{ tab.title }}</a></li>
                        <!--<li class="tab"><a class="active" href="#test2">Test 2</a></li>-->
                        <!--<li class="tab disabled"><a href="#test3">Disabled Tab</a></li>-->
                        <!--<li class="tab"><a href="#test4">Test 4</a></li>-->
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div class="container" style="margin-bottom:50px;">
                <div ui-view>
                    <noscript>Please enable Javascript</noscript>
                </div>
            </div>
        </main>

        <footer ng-class="theme.color" class="page-footer darken-1" style="margin-top:100px;" ng-show="footer.visible">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">About</h5>
                        <p class="grey-text text-lighten-4">MCGameInfo allows you to share the Minecaft Games you're playing with your friends. You can also get notified about your friends' games.</p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Legal Stuff</h5>
                        <ul>
                            <li><a class="white-text" href="/legal/tos">Terms of Service</a></li>
                            <li><a class="white-text" href="/legal/privacy">Privacy Policy</a></li>
                            <li><a class="white-text" href="/legal/imprint">Imprint</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="https://twitter.com/mcgameinfo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                            <li><a class="white-text" href="https://github.com/mcgameinfo" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                            <li><a class="white-text" ng-click="openDonationModal('start')"><strong>Donate</strong> to keep this project running!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="cyan-text" href="https://inventivetalent.org" target="_blank">inventivetalent</a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js" integrity="sha256-jFCqhWdzGFjoG8/SAncY2afI/Xv1TPSWSZrb9dpXQbk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-cookies.min.js" integrity="sha256-KYao/9ufihAPfOpLlVPFDjECsFXMQqBhlbLn3FBsgvw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.5/angular-sanitize.min.js" integrity="sha256-FPRibkFAa4FnfmKmMCV4sX162vfxgb3aOyN4kL+3bvA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js" integrity="sha256-0YzDSJS0qH+wpvug+Im1cMB9CX919NMtHj0d2VVHPp4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-meta/1.0.0/ngMeta.min.js" integrity="sha256-ozIo0gq6Sx8v/G9Tuaw8a70PT5leMat+Z3JeWyxZxzA=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js" integrity="sha256-FMocp8pp1WruAK6GtjNDtuGAALCt/dCsVtw7oSjvPX0=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js" integrity="sha256-3mqgTUhHNgfXgjrzjPOaW03DdQ9hgW92BApzLREoRoA=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js" integrity="sha256-hV6Ff1ZbnLObO8BWHPZs1oA3aPZkX4bnnEKO4nX1sm0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/x64-core.min.js" integrity="sha256-Ib4gtvPEQ6fWMwvsDag1O50UfORLaTwgfaswLOa+hR8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha512.min.js" integrity="sha256-6Tf1qTZChk7+heP/aqN6vflwFV9frcqqEPCtj8HrKyo=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js" integrity="sha256-BvdaZdPJc+x1dwsmn62ZkJ+4WepCjqP3xAFYrPP10F8=" crossorigin="anonymous"></script>

        <script src="https://cdn.rawgit.com/dwmkerr/angular-modal-service/126c6ecf/dst/angular-modal-service.min.js"></script>
        <script src="https://cdn.rawgit.com/jvandemo/angular-update-meta/b743b3b8/dist/update-meta.min.js"></script>

        <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async="" defer=""></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.0/angular-recaptcha.min.js" integrity="sha256-pu0tCDQtmALCUwcXLIay2O6tQrF+JmXYDYXHtOm0Ceg=" crossorigin="anonymous"></script>

        <script src="js/base.js"></script>
        <script src="js/ctrl/parent.js"></script>
        <script src="js/ctrl/loginRegister.js"></script>
        <script src="js/ctrl/logout.js"></script>
        <script src="js/ctrl/changePassword.js"></script>
        <script src="js/ctrl/accountOverview.js"></script>
        <script src="js/ctrl/serverList.js"></script>
        <script src="js/ctrl/server.js"></script>
        <script src="js/ctrl/user.js"></script>
    </body>
</html>