<div>
    <br/>
    <h1>Account Overview</h1>
    <br/>

    <div class="row">
        <div class="col s9">
            <h3>Welcome back, {{ account.username }}!</h3>

            <div>
                <div>
                    You are playing <strong>{{ account.info.game }}</strong> on <strong>{{ account.info.server }}</strong>
                </div>
                <div>
                   <div class="row">
                       <div class="input-field col s6">
                           <label for="infoServer">Server</label>
                           <input id="infoServer" name="infoServer" type="text" ng-model="account.info.server">
                       </div>
                       <div class="input-field col s6">
                           <label for="infoGame">Game</label>
                           <input id="infoGame" name="infoGame" type="text" ng-model="account.info.game">
                       </div>
                   </div>

                    <button type="submit" class="btn" ng-click="updateGameInfo()">Update Info</button>
                </div>
            </div>

            <br/>
            <br/>
            <div>
                <label>Push Notifications</label>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="pushNotification.enabled" ng-change="pushNotification.update()" ng-disabled="!pushNotification.supported">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
                <div ng-if="!pushNotification.supported">
                    Push Notifications are not supported
                </div>

                {{ pushNotification.enabled }}
            </div>
        </div>
        <div class="col s3">
            <h3>Friends</h3>
            <div class="row">
                <div>
                    <form>
                        <div class="input-field inline">
                            <div class="col s9">
                                <label for="addFriendName">Friend Name</label>
                                <input id="addFriendName" name="addFriendName" type="text" ng-model="addFriendName">
                            </div>
                            <div class="col s3">
                                <button class="right-align btn" ng-disabled="addFriendName.length<4" ng-click="addFriend()">&plus;</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <h5>Your Friends</h5>
                    <div ng-if="friends.length==0">
                        You don't have any friends.... I'm very sorry.
                    </div>
                    <div ng-if="friends.length>0">
                        <ul class="collection">
                            <li class="collection-item" ng-repeat="friend in friends">
                                <div>
                                    {{ friend.username }}
                                    <a href="#" class="secondary-content" title="Remove Friend" ng-click="removeFriend(friend.uuid,friend.username)"><i class="material-icons red-text">not_interested</i></a>
                                </div>
                                <div>
                                    <!-- TODO: lastInfo -->
                                    <i class="material-icons" ng-class="{'green-text':friend.info.server.length>0,'red-text':friend.info.server.length==0}">my_location</i>
                                    <div ng-show="friend.info.server.length>0">
                                        Playing <strong>{{ friend.info.game || "nothing" }}</strong> on <strong>{{ friend.info.server || "nowhere" }}</strong>
                                    </div>
                                    <div ng-show="friend.info.server.length==0">
                                        Last seen playing <strong>{{ friend.lastInfo.game || "nothing" }}</strong> on <strong>{{ friend.lastInfo.server || "nowhere" }}</strong>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="friendRequests.incoming.length>0">
                    <br/>
                    <br/>
                    <hr/>
                    <h5>Friend Requests</h5>

                    <ul class="collection">
                        <li class="collection-item" ng-repeat="friend in friendRequests.incoming">
                            <div>
                                {{ friend.username }}
                                <a href="#" class="secondary-content" title="Accept Request" ng-click="acceptFriend(friend.uuid)"><i class="material-icons lime-text">done</i></a>
                                <a href="#" class="secondary-content" title="Decline Request" ng-click="declineFriend(friend.uuid)"><i class="material-icons red-text">not_interested</i></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div ng-if="friendRequests.outgoing.length>0">
                    <br/>
                    <br/>
                    <hr/>
                    <h5>Requested Friends</h5>

                    <ul class="collection">
                        <li class="collection-item" ng-repeat="friend in friendRequests.outgoing">
                            <div>
                                {{ friend.username }}
                                <a href="#" class="secondary-content" title="Cancel Request" ng-click="cancelRequest(friend.uuid)"><i class="material-icons red-text">not_interested</i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>