<div>
    <h1>Servers <a ng-if="cookies.uuid" class="btn tooltipped" data-tooltip="Add your own server" href="https://mcgame.info/account#servers"><i class="material-icons">playlist_add</i></a></h1>

    <div>
        <ul class="collection">
            <li class="collection-item avatar" ng-repeat="server in servers">
                <img src="/img/logo-64.png" ng-src="{{ server.ping ? server.ping.favicon : '/img/logo-64.png' }}" alt="Server Icon" class="circle">
                <span class="title">{{ server.name }}</span>
                <p>
                    {{ server.ip }}
                </p>
                <a class="secondary-content tooltipped" data-position="left" data-tooltip="Domain is verified" ng-if="server.domainVerified" title="Domain is verified"><i class="material-icons">verified_user</i></a>
                <a class="secondary-content tooltipped orange-text" data-position="left" data-delay="20" data-tooltip="Domain is not yet verified"  ng-if="!server.domainVerified" title="Domain is not yet verified"><i class="material-icons">warning</i></a>
            </li>
        </ul>
    </div>
</div>