<div>
    <h1>Servers <a ng-if="account.uuid" class="btn tooltipped" data-tooltip="Add your own server" href="https://mcgame.info/account#servers"><i class="material-icons">playlist_add</i></a></h1>

    <div>
        <ul class="collection">
            <li class="collection-item avatar" ng-repeat="server in servers">
                <img src="/img/logo-64.png" ng-src="{{ server.ping ? server.ping.favicon : '/img/logo-64.png' }}" alt="Server Icon" class="circle">
                <a style="color:inherit" ng-href="{{ '/s/'+server.name }}"><span class="title">{{ server.name }}</span></a>
                <p>
                    <span ng-bind-html="server.ping.trustedMotd"><!-- MOTD --></span><br/>
                    <code>{{ server.ip }}</code>
                </p>
                <!--<div class="progress" ng-hide="server.ping">-->
                <!--<div class="indeterminate"></div>-->
                <!--</div>-->
                <div>
                    <a ng-repeat="player in server.players" ng-href="{{ '/u/'+player.username }}" style="padding: 2px;" class="tooltipped" data-position="bottom" data-tooltip="{{ player.username }}">
                        <img src="https://minotar.net/avatar/steve/16" ng-src="{{ 'https://minotar.net/avatar/'+player.username+'/16' }}">
                    </a>
                </div>

                <a class="secondary-content tooltipped" data-position="left" data-tooltip="Domain is verified" ng-if="server.domainVerified" title="Domain is verified"><i class="material-icons">verified_user</i></a>
                <a class="secondary-content tooltipped orange-text" data-position="left" data-delay="20" data-tooltip="Domain is not yet verified" ng-if="!server.domainVerified" title="Domain is not yet verified"><i class="material-icons">warning</i></a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="pagination center-align">
            <li class="disabled" ng-class="{'disabled':pagination.page<=1}"><a ng-click="pagination.page=max(pagination.page-1,1); refreshServers()"><i class="material-icons">chevron_left</i></a></li>
            <li ng-repeat="page in range(pagination.pages)" class="waves-effect" ng-class="{'active':page+1==pagination.page}" ng-click="pagination.page=page+1; refreshServers()"><a href="#">{{ page+1 }}</a></li>
            <li class="waves-effect" ng-class="{'disabled':pagination.page>=pagination.pages}"><a ng-click="pagination.page=min(pagination.page+1,pagination.pages); refreshServers()"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>